<section class='container'>
  <section class='row'>
  	<p>
  		Context: <%= @functional_status[:context] %><br />
  		Date/Time: <%= display_datetime(@functional_status[:datetime]) %>
  	</p>
  	<table class='table table-striped table-dark full-status'>
  		<tr>
  			<th>Question</th>
  			<th>Response</th>
  		</tr>
 			<% @functional_status[:assessments].each do |assessment| %>
	  		<tr>
	  			<td><%= assessment[:question] %></td>
	  			<td><%= assessment[:response] %></td>
	  		</tr>
	  	<% end %>
	  </table>
	</section>
</section>


