<h1>New Care Plan</h1>

<%# RJP: was render 'form' ... %>
<%= render 'care-plan-card-form', locals: {:care_plan => @care_plan, :patient => @patient} %>

<%= link_to 'Back', dashboard_path(@patient.id) %>
