<header>
  <nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark'>
    <div class='navbar-brand'>
      <%= link_to root_path do %>
        <%= image_tag 'pacio-logo.png', id: 'logo', alt: '' %>
        <div class="header-title">Transfer Summary</div>
      <% end %>
    </div>  
  </nav>
</header>
